<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>AniMagic uses your local network to connect nearby players for shared Magic Lens experiences.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_animagic-ar._tcp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Belanosima-Bold.ttf</string>
		<string>Belanosima-Regular.ttf</string>
		<string>Belanosima-SemiBold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
